@tailwind base;
@tailwind components;
@tailwind utilities;

li,
button {
	cursor: pointer;
}
.container {
	width: 83%;
	max-width: 80rem;
	margin-left: auto;
	margin-right: auto;
}
.product_card:hover {
	box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}

.custum-file-upload {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	gap: 20px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border: 2px dashed #cacaca;
	background-color: rgba(255, 255, 255, 1);
	padding: 1.5rem;
	border-radius: 10px;
	box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.custum-file-upload .icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.custum-file-upload .icon svg {
	height: 40px;
	fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.custum-file-upload .text span {
	font-weight: 400;
	color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
	display: none;
}

.radio-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  .radio-list li {
	width: 50%; /* Each radio button takes up half of the width */
	box-sizing: border-box; /* Include padding and border in the width */
  }
  
  .radio-list input[type="radio"] {
	display: none; /* Hide the default radio button */
  }
  
  .radio-list label {
	cursor: pointer;
	display: block;
	padding: 10px 15px;
	border: 1px solid #ccc;
	
	transition: background-color 0.3s, color 0.3s;
  }
  
  .radio-list label:hover {
	background-color: #f0f0f0;
  }
  
  /* Style for checked radio button */
  .radio-list input[type="radio"]:checked + label {
	background-color: #3a8358;
	color: #fff;
	border-color: #3a8358;
  }
  
  
  
	                                                                                                                                                                                                                                                                                                                                                                                                           